.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 3.6rem auto;
  padding-top: 6.3rem;
  padding-bottom: 9rem;
  background-color: #e9c46a;
  background-image: linear-gradient(135deg, #e9c46a, #f4a261);
  color: white;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

.about-button {
  background-color: #6c91f7;
  border: none;
  cursor: pointer;
  padding: 1rem 1.2rem;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  font-weight: 600;
  margin-top: 1.3rem;
}

.about-button:hover {
  background-color: #4172f6;
  transform: translatey(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 2.35px 2.5px 2.6px;
  transition: background-color 0.2s ease-in-out;
}

.about-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.about-img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.about-text-section {
  width: 36rem;
  font-size: 1.2rem;
  font-weight: 600;
}
