.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  height: 10rem;
  width: 100vw;
  background-color: #e9c46a;
  background-image: linear-gradient(135deg, #e9c46a, #f4a261);
  color: white;
}
