.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 30rem;
  margin: 2rem auto;
}

.projects-content {
  display: flex;
  justify-content: center;
  width: 60rem;
  gap: 2rem;
  margin-top: 3rem;
}

.projects-text {
  width: 25rem;
}

.projects-image {
  width: 25rem;
}

.projects-photo {
  border-radius: 0.8rem;

  box-shadow: rgba(0, 0, 0, 0.25) 2.35px 2.5px 2.6px;

  cursor: pointer;
}

.mb-small {
  margin-bottom: 4rem;
}

.mb-medium {
  margin-bottom: 6.5rem;
}
